@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/TrangChu.cshtml";
}


<div class="col-lg-8 col-md-8">
  <div class="breadcrumb_back" style="font-size:18px; font-weight:bold;">
    <div class="back concung">Giới thiệu KidsPlaza</div>
  </div>
  <div class="news-entry" style="font-size:14px; margin: 5px 0px 30px 0px;padding: 10px 10px 10px 10px;line-height: 18px;
   text-align: justify;">
	    <style> p {margin: 0 0 0px;} .image_center_mobile{width: 100% !important;}</style>
               
			<p style="text-align: justify;">Công ty Cổ phần KidsPlaza là công ty tiên phong tại Việt Nam chuyên về ngành hàng dành riêng cho trẻ em. Lĩnh vực hoạt động của công ty bao gồm:</p>
            <ul>
            <li>Phát triển các hệ thống chuỗi bán lẻ cho mẹ bầu &amp; em bé: KidsPlaza, Toycity, CF (KidsPlaza FASHION)</li>
            <li>Nghiên cứu và cho ra đời các sản phẩm an toàn, chất lượng, giá thành hợp lý dành riêng cho trẻ em.</li>
            </ul>
            <p style="text-align: justify;">&nbsp;</p>
            
            <p>&nbsp;</p>
            <p><strong><span style="color: #ea377c;"><strong><strong>Nền tảng &amp; Giá trị cốt lõi</strong></strong></span></strong></p>
            <p class="m1607594091501409469gmail-msonormal"><span style="color: #ea377c;"><strong>Tầm nhìn: </strong></span>Với định hướng: Phát triển các hệ thống chuỗi bán lẻ cho mẹ bầu &amp; em bé &amp; Nghiên cứu và cho ra đời các sản phẩm chuyên dành cho trẻ em, Công ty luôn lấy sứ mệnh “Mang đến những sản phẩm tốt nhất cho trẻ em Việt Nam" làm kim chỉ nam cho mọi hoạt động kinh doanh.</p>
            <p class="Normal1">&nbsp;</p>
            <p class="Normal1"><span style="color: #ea377c;"><strong>Sản phẩm</strong>:</span> KidsPlaza luôn cam kết, đảm bảo đưa sản phẩm trực tiếp từ nhà sản xuất đến tay người dùng và kiểm soát được chất lượng để đáp ứng được nhu cầu ngày càng cao của khách hàng. Tất cả các sản phẩm tại KidsPlaza đều có nguồn gốc xuất xứ rõ ràng, chất lượng, đa dạng chủng loại với giá hợp lý. Chính vì vậy, các phụ huynh hoàn toàn có thể an tâm và tin tưởng khi lựa chọn sử dụng sản phẩm tại KidsPlaza.</p>
            <p class="Normal1">&nbsp;</p>
            <p class="Normal1"><span style="color: #ea377c;"><strong>Tiện lợi:</strong> </span>KidsPlaza luôn đạt mức tăng trưởng 100% hàng năm, Hệ thống siêu thị đang phủ sóng trên 40 tỉnh thành Việt Nam. Trong đó, TP. HCM là thị trường lớn nhất với gần 90 điểm bán, tiếp đến là Bình Dương và Đồng Nai. Trong tương lai, KidsPlaza có kế hoạch sẽ phủ sóng 64 tỉnh thành với cam kết mang đến sự tiện lợi trong mua sắm tới tất cả phụ huynh khắp cả nước: sản phẩm nhập khẩu chính hãng, chất lượng, giá hợp lý và đa dạng chủng loại. Nhờ đó, khách hàng có thể tìm thấy bất cứ sản phẩm nào dành cho bé tại siêu thị KidsPlaza.</p>
            <p class="Normal1">&nbsp;</p>
            <p class="Normal1"><span style="color: #ea377c;"><strong>Công nghệ:&nbsp;</strong></span>KidsPlaza được xây dựng dựa trên nền tảng công nghệ thông tin hiện đại. Công ty đầu tư hệ thống phần mềm quản lý, kiểm soát mọi hoạt động kinh doanh, từ điều hành, phân phối sản phẩm đến bán hàng, tối ưu hóa quy trình hoạt động. Nhờ đó cắt giảm nhiều chi phí trong quá trình vận hành để có được giá bán phù hợp với số đông người tiêu dùng Việt Nam.</p>
            <p class="Normal1">&nbsp;</p>
            <p class="Normal1"><span style="color: #ea377c;"><strong>Nhân sự:</strong></span> Đội ngũ nhân viên chuyên nghiệp, tâm huyết và là niềm tự hào của Công ty. Tổng số nhân viên được tuyển dụng và đào tạo chuyên nghiệp hiện tại đã lên đến con số khoảng 1.500 nhân sự. Bên cạnh đó, đời sống tinh thần của nhân viên cũng được quan tâm, chăm sóc cùng những chính sách đãi ngộ, nâng cao tinh thần làm việc và truyền cảm hứng để nhân viên cống hiến và mang lại những giá trị cho bản thân và cộng đồng.</p>
            <p>&nbsp;</p>
            <p><span style="color: #ea377c;"><strong>Đối tác:</strong> </span>KidsPlaza có lợi thế trong việc hợp tác với nhiều tập đoàn đa quốc gia, cũng như việc phân phối độc quyền cho nhiều nhãn hàng Nhật, Hàn Quốc, Thái Lan. Bên cạnh đó, KidsPlaza còn hợp tác với nhiều nhà máy hàng đầu tại Nhật, Hàn Quốc, Thái Lan để nghiên cứu và cho ra đời những sản phẩm tốt nhất dành cho trẻ em Việt Nam.</p>
            <p>&nbsp;</p>
            <p><span><strong><span style="color: #ea377c;">KidsPlaza qua các cột mốc..</span>.</strong></span></p>
            <ul>
            <li><span>12/2016: đạt mốc 100 siêu thị trên hơn 30 tỉnh thành cả nước.</span></li>
            <li><span>9/2017: KidsPlaza tưng bừng đón chào sự kiện Mừng 200 siêu thị</span></li>
            </ul>
            <p>&nbsp;</p>
            <p><span style="color: #ea377c;"><strong>... và những con số ấn tượng:</strong></span></p>
            <ul>
            <li><span>100%: mức tăng trưởng doanh số so với cùng kỳ 2016</span></li>
            <li><span>230: con số cửa hàng KidsPlaza, bao gồm 200 siêu thị KidsPlaza và 30 siêu thị Toycity trải rộng trên 40 tỉnh thành cả nước.</span></li>
            <li><span>400: là tổng số siêu thị KidsPlaza, Toycity &amp; CF (KidsPlaza Fashion)&nbsp; tính đến hết năm 2018</span></li>
            <li><span>1.000: là tổng số siêu thị KidsPlaza, Toycity &amp; CF (KidsPlaza Fashion) dự kiến đạt được tính đến cuối năm 2021</span></li>
            </ul>
            <p><strong>Thông tin Công ty Cổ phần KidsPlaza</strong></p>
            <p>ĐKKD số: 0313450007</p>
            <p>Địa chỉ trụ sở chính: 101 - 103 Trần Quang Khải, Phường Tân Định, Quận 1, Tp. Hồ Chí Minh</p>
            <p>Điện thoại: 0389346227</p>
            <p>Email: ngohoangthien@gmailcom&nbsp;</p>
            <p>&nbsp;</p>
            <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; .</p>
				                        </div>
           
         
                      </div>