@{
    ViewBag.Title = "Xacnhandonhang";
 
    Layout = "~/Views/Shared/TrangChu.cshtml";
}

<div class="breadcrumb_back" style="font-size:18px; font-weight:bold;">
    <div class="back concung">Bạn đã mua hàng thành công
    chúc bạn 1 ngày thật vui vẻ</div>
  </div>
  
